@theme {
  --animate-wiggle: wiggle 2s ease-in-out;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
  }

  --animate-spin: spin 1s linear infinite;
  --animate-spin-slow: spin 2s linear infinite;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
